@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Graphik Regular';
  src: url("../public/fonts/GraphikRegular.otf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Medium';
  src: url("../public/fonts/GraphikMedium.otf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

.bg-color-custom-nav {
  background-color: rgb(89, 82, 228);
}

.bg-color-hr {
  border-top-color: #a7a8ae90;
}

.bg-color-custom-header { 
  background-color: #5952e4;
  /* background: url("../public/img/aboutus-banner-icons.svg");  */
  /* height: 500px; */
}

.navbar-ul li{
  @apply relative;
}

.navbar-ul li:first-child:before {
    @apply absolute -right-2 -top-1 w-1 content-["\2304"];
}

.drawer-menu {
  font-family: "Graphik Medium", sans-serif;
    font-size: 25px;
    color: #24242a;
}


  .drawer-menu {
    opacity: 0;
    transform: scale(0.2);
    animation: menu-open 0.2s forwards;
  }

  @keyframes menu-open {
    0% {
      opacity: 0;
      transform: scale(0.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }


/* Active state */
#toggleButton.active + #drawerMenu,
#drawerMenu.active {
  display: block;
}
  .create-account {
    border-radius: 10px;
    background-color: #eeeff6;
  }

  .message::before {
    content: "\1F7AE"; /* Ok sembolü veya başka bir sembol kullanabilirsiniz */
    cursor: pointer;
      position: absolute;
      top: 0;
      left: -9px;
      transform: translateY(-50%);
      font-size: 20px;
  }
  .create-account-btn {
    color: #ffff;
    background-color: #5952e4;
    font-family: "Graphik Medium", sans-serif;
    font-size: 14px;
    border-radius: 50px;
  }

  .footer {
    background-color: #131416;
  }

.navbar-font {
    font-family: "Graphik Regular", sans-serif;
    font-size: 13px;
  }
  .text-crypto-item {
    font-family: "Graphik Medium", sans-serif;
    font-size: 52px;
    color:rgba(36,36,42,.2);
  }
.text-header-h1 {
  font-family: "Graphik Medium", sans-serif;
  font-size: 45px;
}

.text-header-h4 {
  font-family: "Graphik Medium", sans-serif;
  font-size: 18px;
}

.text-FeatureCard-h4 {
  font-family: "Graphik Medium", sans-serif;
  font-size: 18px;
  color: #24242a;
}

.text-FeatureCard-p {
  font-family: "Graphik Regular", sans-serif;
  font-size: 14px;
  color: #24242a;
}

.text-TomyaInfo-h2 {
  font-family: "Graphik Medium", sans-serif;
  font-size: 36px;
  color: #24242a;
}

.text-TomyaInfo-h4 {
  font-family: "Graphik Regular", sans-serif;
  font-size: 18px;
  color: #24242a;
}

.text-SocialMedia-h3 {
  font-family: "Graphik Regular", sans-serif;
  font-size: 24px;
  color: #24242a;
}

.text-CreateAccount-h3 {
  font-family: "Graphik Medium", sans-serif;
  font-size: 24px;
  color: #24242a;
}

.text-MediaKit-h6 {
  font-family: "Graphik Regular", sans-serif;
  font-size: 12px;
  color: #24242a;
}

.text-footer-h6 {
  font-family: "Graphik Medium", sans-serif;
  font-size: 14px;
  color: #eeeff6;
}

.text-footer-h6-2 {
  font-family: "Graphik Regular ", sans-serif;
  font-size: 12px;
  color: #eeeff6;
}

.text-footer-h6-3 {
  font-family: "Graphik Regular ", sans-serif;
  font-size: 12px;
  color: #eeeff680;
}

.text-footer-li {
  font-family: "Graphik Regular", sans-serif;
  font-size: 14px;
  color: #eeeff680;
}

.btn-MediaKit {
  font-family: "Graphik Medium", sans-serif;
  font-size: 14px;
  color: #5952e4;
  border-color: #5952e4;
}

.btn-MediaKit:hover {
  font-family: "Graphik Medium", sans-serif;
  font-size: 14px;
  color: #ffff;
  background-color: #5952e4;
  border-color: #5952e4;
  transition: background-color 0.3s ease; 
}

.box {
  @apply rounded-xl p-7 bg-white;
  box-shadow: 0 15px 60px 0 rgba(50,46,127,.17);
}

.content {
  @apply mobile:px-5 tablet:px-7 desktop:px-10;
}

/* max width 1250px */

@media (max-width: 1250px) {
  .navbar {
    display: flex;
    justify-content: flex-start;
    gap: px;
  }

  .navbar-ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 990px) {
  .navbar {
    justify-content: space-between;
    max-width: 90%;
  }

  

  .navbar-ul{
    display: none;
  }

  .navbar-mobile {
    display: flex;
    justify-content: space-between;
    background-color: #5952e4;
    
  }

  .button {
    color: #ffff;
  }

  .header {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    width: 100%;
  }

  .footer-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    }

    .footer-mobile2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 20px;
      margin-right: 20px;
      }

  .footer-adress{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;
  }

  .mediaKit {
    display: flex;
    flex-direction: column;
  }

  .mediaKit2 {
    display: flex;
    flex-direction: column;
  }

  .mediaBox1 {
    display: flex;
    align-items: end;
    justify-content: start;
    width: 100%;
  }

  .mediaBox2 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 10px;
    width: 100%;
  }

  .mediaBoxBtn {
    margin: 0;
    width: 140px;
  }

  .footer1 {
    display: none;
  }

  .footer2 {
    display: flex;
  }

  .logoBaski {
    display: none;
  }

  .reverse{
    @apply flex flex-col-reverse justify-center;
  }

  .service-mission {
    flex-direction: column-reverse;
    justify-content: center;
    
  }

  .header-h1 {
    font-size: 32px;
  }

  .header-h4 {
    font-size: 16px;
  }

  .tomyaInfo-h2 {
    font-size: 24px;
  }

  .tomyaInfo-h4 {
    font-size: 16px;
  }

  .featureCard-h4 {
    font-size: 16px;
  }

  .featureCard-p {
    font-size: 14px;
  }

  .socialMedia-h3 {
    font-size: 20px;
  }

  .header-img {
    height: 50%;
    position: relative;
    top: 50px;
  }
  
  .create-account-mobile {
    display: flex;
    flex-direction: column;
  }

  .width-full {
    width: 100%;
  }
  
}